{
    "presets": ["env", "react"],
    "plugins": [["transform-react-jsx", { "pragma": "h" }]],
    "env": {
        "development": {
            "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node", "transform-export-extensions"]
        },
        "test": {
            "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node", "transform-export-extensions"]
        }
    }
}
