.displayFlex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexStart {
    justify-content: flex-start;
}

.flexRow {
    flex-direction: row;
}

.messageBox {
    width: 300px;
}

.messageLabel {
    margin-right: 10px !important;
}

.messageView {
    background-color: rgba(160, 160, 160, 0.5);
    width: 300px;
    height: 390px;
    overflow-y: auto;
}

ol {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

ol li {
    padding: 5px;
}
.msgPlaceholder {
    width: 300px;
    height: 100px;
}

.sidebar {
    background-color: rgba(160, 160, 160, 0.5);
    width: 300px;
    margin: 0px 30px 0px 10px;
    overflow-y: auto;
}

.headline {
    margin: 5px 0px 10px 10px;
    font-size: 22px;
    font-weight: bold;
    color: #6200ee;
}

.chatComponentContainer {
    height: 500px;
}

.user {
    font-weight: bold;
    color: #6200ee;
}

.time {
    font-size: 12px;
    margin: 0px 0px 0px 5px;
}
